@model M01.Models.PlanetModel

<h1>@Model.Name</h1>

<div class="card w-50">
    <img class="card-img-top" src="~/planet/@(Model.Name).jpg" alt="" >

    <h5> @Model.Vnname</h5>

    <div class="card-body">
        <div class="card-text">
            @Model.Content
        </div>

        <a class="card-link" asp-action="Index" > Cac Hanh tinh</a>
    </div>
</div>