@model M01.Models.ProductModel

@{
    Layout = "_Layout";
}
<div class="card bg-primary text-white">
    <h1 class="card-header">
        Xin chao @Model.Name
    </h1>
    <div class="card-body">

        <p class="card-text">
            Giá: @Model.Price 
        </p>
    </div>
</div>