@page "/aboutRazor.html"
@{
    Layout = "_Layout";
}
<h1>Giới thiệu về Razor</h1>

<p>
    Razor là 1 template engine trong .NET, nó là một template engine mặc định
    của ASp.NET MVC, có chức năng render (dựng) HTML từ các view (.cshtml).
    View (.cshtml) cho phép viết HTML và nhúng code C#
</p>